{% extends 'mobile/base.html' %}
{% block header %}
    <header class="navbar">
        <div class="nav-wrap-left">
            <a href="javascript:history.go(-1)" class="react back"><i class="text-icon fa fa-backward"></i></a>
        </div>
        <span class="nav-header h1">课程详情</span>
        <div class="nav-wrap-right">
            <a href="" class="react">
                <span>搜索</span>
            </a>
        </div></header>
{% endblock %}
{% load staticfiles %}
{% block main %}
    <div class="album toutu">
        <img src="{% static "img/test.jpg" %}" style="width:100%;">
    <div class="desc">
        <h1 class="title">{{ course.name }}</h1>
        <span>{{ course.single_detail }}</span>
    </div>
    </div>
    <dl class="list list-in">
    <dd class="dd-padding buy-price">
        <div class="price">
            <strong class="strong-pricetag strong-color">{{ course.price }}</strong>
            <span class="strong-color">元</span></div>
            <a href="" class="btn buy-btn btn-large btn-strong">立即购买</a>
    </dd>
    <dd class="dd-padding">
        <dl class="color-ok">已售10份</dl>
    </dd>
    </dl>
    <dl class="list">
    <dd>
        <a href="" class="react">
            <div class="more more-weak comment-headline">
                <span class="stars">
                <i class="text-icon fa fa-star-o"></i>
                <i class="text-icon fa fa-star-o"></i>
                <i class="text-icon fa fa-star-o"></i>
                <i class="text-icon fa fa-star-o"></i>
                <i class="text-icon fa fa-star-o"></i>
                <em class="">4.5</em></span>
                <span class="pull-right">3180人评价</span>
            </div>
        </a>
    </dd>
    </dl>
    <dl class="list">
        <dd>
            <dl>
                <dt>学校信息</dt>
                <dd class="dd-padding">
                    <div class="merchant">
                        <div class="biz-detail"><a href="" class="react"><h5 class="title single-line">
                            {{ course.school.name }}</h5>
                        <div class="address single-line">{{ course.school.place }}</div></a></div>
                    <div class="biz-call"><a href="" class="react"><i class="text-icon fa fa-phone"></i></a></div>
                    </div>
                </dd>
            </dl>
        </dd>
    </dl>
    <dl class="list">
    <dt>概况</dt>
    <dd class="dd-padding"><ul class="ul">
        <li>开课时间：{{ course.start_time }} - {{ course.end_time }}</li>
        {{ course.text }}
    </ul></dd>
    <dd class="db"><a href="{% url 'course_detail' course.id %}" class="react">
        <div class="more">查看图文详情</div>
    </a></dd>
    </dl>
    {% if comment %}
        {% for single_comment in comment %}
    <dl class="list">
        <dd>
            <dl>
                <dt>评价
                    <span class="color-ok">(共 {{ comment_count }}个评论)</span>
                <span class="pull-right"><span class="stars">
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i><em>4.2</em>
                </span></span></dt>
            </dl>
        </dd>
    <dd class="dd-padding">
        <div class="feedbackCard">
            <div class="userInfo">
                <span class="color-weak username">{{ single_comment.commit_person.username }}</span>
            </div>
            <div class="score">
                <span class="stars">
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
                    <i class="text-icon fa fa-star-o"></i>
            </span>
            <span class="color-weak time">{{ single_comment.time }}</span></div>
        </div>
        <div class="comment">
            <div class="toggleContent"><p>{{ single_comment.content }}</p></div>
        </div>
    </dd>
        <dd class="db"><a href="{% url 'comment_list' course.id %}" class="react">
            <div class="more">查看更多评价</div>
        </a></dd>
    </dl>
        {% endfor %}
    {% endif %}
{% endblock %}
