{% extends "mobile/base.html" %}
{% block header %}
    <header class="navbar">
    <div class="nav-wrap-left">
        <a href="" class="react back">
            <i class="text-icon fa fa-backward"></i>
        </a>
        </div>
    <span class="nav-header h1">我的棒棒糖</span>
        <div class="nav-wrap-right">
            <a href="" class="react"><i class="text-icon fa fa-home"></i>首页</a>
            <a href="" class="react"><i class="text-icon fa fa-search"></i>搜索</a>
        </div>
    </header>
{% endblock %}
{% load staticfiles %}
{% block main %}
    <dl class="list">
        <dd>
            <dl class="list">
                <dt>我关注的课程</dt>
                {% for single_course in watch_courses %}
                    <dd>
                        <a href="" class="react">
                            <div class="dealcard">
                                {% if single_course.hot %}
                                    <span class="dealcard-classhot"></span>
                                {% else %}
                                {% endif %}
                                <div class="dealcard-img imgbox">
                                    <img src="
                                            {% if single_course.pic %}{{ single_course.pic }}{% else %}{% static "img/test.jpg" %}{% endif %}"
                                         alt="" style="width: 100%"/>
                                </div>
                                <div class="dealcard-block-right">
                                    <div class="dealcard-brand single-line">{{ single_course.name }}</div>
                                    <div class="title text-block">{{ single_course.single_detail }}</div>
                                    <div class="price">
                                <span class="strong">
                                    {{ single_course.price }}
                                </span><span class="strong-color">
                                元
                            </span><span class="line-right">已售{{ single_course.sold }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                {% endfor %}
            </dl>
        </dd>
    </dl>
    <dl class="list">
        <dd>
            <dl class="list">
                <dt>我购买的课程</dt>
                {% for single_course in buy_couses %}
                    <dd>
                        <a href="" class="react">
                            <div class="dealcard">
                                {% if single_course.hot %}
                                    <span class="dealcard-classhot"></span>
                                {% else %}
                                {% endif %}
                                <div class="dealcard-img imgbox">
                                    <img src="
                                            {% if single_course.pic %}{{ single_course.pic }}{% else %}{% static "img/test.jpg" %}{% endif %}"
                                         alt="" style="width: 100%"/>
                                </div>
                                <div class="dealcard-block-right">
                                    <div class="dealcard-brand single-line">{{ single_course.name }}</div>
                                    <div class="title text-block">{{ single_course.single_detail }}</div>
                                    <div class="price">
                                <span class="strong">
                                    {{ single_course.price }}
                                </span><span class="strong-color">
                                元
                            </span><span class="line-right">已售{{ single_course.sold }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </dd>
                {% endfor %}
            </dl>
        </dd>
    </dl>
{% endblock %}