<header class="navbar">
    <div class="nav-wrap-left">
        <a href="" class="react"><span class="nav-city">
            棒棒糖
        </span></a>
    </div>
    <div class="box-search">
        <a href="" class="react">
            <i class="fa text-icon fa-search"></i>
            <span class="search-text">输入商家/类别</span>
        </a>
    </div>
    <div class="nav-wrap-right">
        <a href="" class="react">
            <span style="color: white;left: 0.1rem">
        <i class="fa fa-user icon-top"></i>
                我的</span>
        </a>
    </div>
</header>
