{% extends "mobile/base.html" %}
{% block header %}
    <header class="navbar">
        <div class="nav-wrap-left">
            <a href="" class="react back"><i class="text-icon fa fa-backward"></i></a>
        </div>
        <span class="nav-header h1">注册账号</span>
        <div class="nav-wrap-right">
            <a href="" class="react">
                <span>搜索</span>
            </a>
        </div></header>
{% endblock %}
{% block main %}
    <form action="" method="post">
        <dl class="list">
            {% csrf_token %}
            {% for filed in form %}
                {% if filed.errors %}
                <dd class="dd-padding error"> {{ filed.errors }} </dd>
                {% endif %}
            <dd class="dd-padding">{{ filed }}</dd>
            {% endfor %}
        </dl>
    <p class="btn-wrapper">
        <label for="" onclick><input type="checkbox" name="terms_name" checked="checked" class="mt" id="term_id">
        我已阅读并同意 <a href="">《用户协议》</a></label>
    </p>
    <div class="btn-wrapper">
        <button type="submit" class="btn btn-block btn-larger">注册账户</button>
    </div>
    </form>
{% endblock %}